[submodule "submodules/hidapi"]
	path = submodules/hidapi
	url = git://github.com/rpavlik/hidapi.git
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/vancegroup-mirrors/jsoncpp.git
