CMakeLists.txt	text eol=lf
*.cmake			text eol=lf
.gitignore		text eol=lf export-ignore
.gitattributes	text eol=lf export-ignore

ChangeLog    text eol=lf
Makefile    text eol=lf
README*    text eol=lf
Doxyfile    text eol=lf
GNUmakefile    text eol=lf
Makefile.python    text eol=lf
package-list    text eol=lf
Readme    text eol=lf
set_instruments_for_sound_server    text eol=lf

*.afm-plus    text eol=lf
*.afm-plus_imd    text eol=lf
*.c    text eol=lf
*.C    text eol=lf
*.Cdef    text eol=lf
*.cfg    text eol=lf
*.classpath    text eol=lf
*.cmake_in    text eol=lf
*.cpp    text eol=lf
*.css    text eol=lf
*.cvsignore    text eol=lf
*.h    text eol=lf
*.hdef    text eol=lf
*.hpp    text eol=lf
*.htm    text eol=lf
*.html    text eol=lf
*.i    text eol=lf
*.imp    text eol=lf
*.in    text eol=lf
*.inf    text eol=lf
*.java    text eol=lf
*.jconf    text eol=lf
*.mk    text eol=lf
*.pl    text eol=lf
*.prefs    text eol=lf
*.project    text eol=lf
*.properties    text eol=lf
*.psf    text eol=lf
*.py    text eol=lf
*.qsp    text eol=lf
*.rc    text eol=lf
*.tcl    text eol=lf
*.txt    text eol=lf
*.ui    text eol=lf
*.UNC    text eol=lf
*.vmd    text eol=lf
*.vrpndef    text eol=lf
*.xml    text eol=lf

*.dsw    text eol=crlf
*.dsp    text eol=crlf
*.sln    text eol=crlf
*.vcproj    text eol=crlf
*.vcp    text eol=crlf
*.vcw    text eol=crlf
