[submodule "submodules/hidapi"]
	path = submodules/hidapi
	url = https://github.com/libusb/hidapi.git
	branch = vrpn-utilized-head
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/vrpn/jsoncpp.git
