CMakeLists.txt	eol=lf
*.cmake			eol=lf
.gitignore		eol=lf export-ignore
.gitattributes	eol=lf export-ignore

ChangeLog    eol=lf
Makefile    eol=lf
README*    eol=lf
Doxyfile    eol=lf
GNUmakefile    eol=lf
Makefile.python    eol=lf
package-list    eol=lf
Readme    eol=lf
set_instruments_for_sound_server    eol=lf

*.afm-plus    eol=lf
*.afm-plus_imd    eol=lf
*.c    eol=lf
*.C    eol=lf
*.Cdef    eol=lf
*.cfg    eol=lf
*.classpath    eol=lf
*.cmake_in    eol=lf
*.cpp    eol=lf
*.css    eol=lf
*.cvsignore    eol=lf
*.h    eol=lf
*.hdef    eol=lf
*.hpp    eol=lf
*.htm    eol=lf
*.html    eol=lf
*.i    eol=lf
*.imp    eol=lf
*.in    eol=lf
*.inf    eol=lf
*.java    eol=lf
*.jconf    eol=lf
*.mk    eol=lf
*.pl    eol=lf
*.prefs    eol=lf
*.project    eol=lf
*.properties    eol=lf
*.psf    eol=lf
*.py    eol=lf
*.qsp    eol=lf
*.rc    eol=lf
*.tcl    eol=lf
*.txt    eol=lf
*.ui    eol=lf
*.UNC    eol=lf
*.vmd    eol=lf
*.vrpndef    eol=lf
*.xml    eol=lf

*.dsw    eol=crlf
*.dsp    eol=crlf
*.sln    eol=crlf
*.vcproj    eol=crlf
*.vcp    eol=crlf
*.vcw    eol=crlf
