Alexis Girault <alexis.girault@kitware.com>
Alexis Girault <alexis.girault@kitware.com> <agirault@users.noreply.github.com>

Cory Quammen <cory.quammen@kitware.com>
Cory Quammen <cory.quammen@kitware.com> <cquammen@cs.unc.edu>

Jafet Villafranca <jafet.villafrancadiaz@epfl.ch>
Jafet Villafranca <jafet.villafrancadiaz@epfl.ch> <jafy86@gmail.com>

Jan Ciger <jan.ciger@reviatech.com>
Jan Ciger <jan.ciger@reviatech.com> <jan.ciger@gmail.com>

Russ Taylor <russ@reliasolve.com>
Russ Taylor <russ@reliasolve.com> <github@gracehollow.com>
Russ Taylor <russ@reliasolve.com> <russ@reliasolve.com>
Russ Taylor <russ@reliasolve.com> <taylorr>
Russ Taylor <russ@reliasolve.com> <taylorr@RHODIUM-LT-CS.cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@bass-comp0.cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@bass-comp5.cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@bluetang.cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@gracehollow.launchmodem.com>
Russ Taylor <russ@reliasolve.com> <taylorr@osmium.cs.unc.edu>
Russ Taylor <russ@reliasolve.com> <taylorr@russell-taylors-computer.local>
Russ Taylor <russ@reliasolve.com> <taylorr@taylorr-laptop.(none)>

Rylie Pavlik <rylie@ryliepavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <rpavlik@iastate.edu>
Rylie Pavlik <rylie@ryliepavlik.com> <rpavlik@obiwan.vrac.iastate.edu>
Rylie Pavlik <rylie@ryliepavlik.com> <rpavlik@zapdos.vrac.iastate.edu>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@gmail.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@snc.edu>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@.(none)>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@sensics.com>
