Source: vrpn
Maintainer: Ryan Pavlik <abiryan@ryand.net>
Section: libs
Priority: optional
Build-Depends: cdbs (>=0.4.49), debhelper (>= 7),
	doxygen,
	graphviz,
	quilt,
	python,
	swig
Standards-Version: 3.8.3
Homepage: http://www.cs.unc.edu/Research/vrpn

Package: vrpn
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends},
	libvrpn-dev,
	libvrpn-server-dev,
	libvrpn-doc,
	libvrpn-quat-dev,
	vrpn-clients,
	vrpn-server,
	python-vrpn
Description: Virtual Reality Peripheral Network - runtime metapackage
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system. The idea is to
 have a PC or other host at each VR station that controls the peripherals
 (tracker, button device, haptic device, analog inputs, sound, etc). VRPN
 provides connections between the application and all of the devices using
 the appropriate class-of-service for each type of device sharing this link.
 The application remains unaware of the network topology. Note that it is
 possible to use VRPN with devices that are directly connected to the machine
 that the application is running on, either using separate control programs
 or running all as a single program.
 .
 VRPN is developed primarily at the University of North Carolina: for more info, see
 http://www.cs.unc.edu/Research/vrpn/
 .
 Install this package to install all VRPN packages.

Package: libvrpn-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libvrpn-quat-dev
Description: Virtual Reality Peripheral Network - library development files
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.
 
Package: libvrpn-server-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libvrpn-dev, libvrpn-quat-dev
Description: Virtual Reality Peripheral Network - server development files
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.

Package: libvrpn-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Virtual Reality Peripheral Network - developer documentation
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package provides developer documentation of the  VPRN system and
 its API.
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.

Package: libvrpn-quat-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Virtual Reality Peripheral Network - quaternion library
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package provides the "quat" library containing quaternion and
 matrix manipulations used by VRPN components.
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.

Package: vrpn-clients
Architecture: any
Section: net
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Virtual Reality Peripheral Network - client applications
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 The following applications (from the upstream "client_src") are included:
 .
   - add_vrpn_cookie
   - forcedevice_test_client
   - vrpn_ping
   - vrpn_print_devices
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.

Package: vrpn-server
Architecture: any
Section: net
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Virtual Reality Peripheral Network - generic multi-function server
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package provides a generalized server that can load most, but perhaps
 not all, server devices provided with this VRPN release.  It is configured
 using a vrpn.cfg file - examples can be found in
 /usr/share/docs/vrpn-server/ once you have installed the package.
 The package provides the following applications (upstream's "server_src"):
 .
   - vrpn_server
   - test_vrpn
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.

Package: python-vrpn
Architecture: any
Section: net
Depends: ${misc:Depends}, ${shlibs:Depends}, python
Description: Virtual Reality Peripheral Network - Python bindings
 The Virtual-Reality Peripheral Network (VRPN) is a set of classes within a
 library and a set of servers that are designed to implement a network-
 transparent  interface between application programs and the set of physical
 devices (tracker, etc.) used in a virtual-reality (VR) system.
 .
 This package provides a Python interface to the VRPN system, generated
 using SWIG and custom interface files.
 .
 This package is a part of the VRPN suite.  For a full VRPN runtime and
 development installation, install the "vrpn" package.
