#!/usr/bin/make -f

#debian/stamp-makefile-build: build/libvrpn-quat1
build/libvrpn1:: build/libvrpn-quat1
build/libvrpn-server1 build/libvrpn-client1:: build/libvrpn1

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

VER_MAJ=07
VER_MIN=22

# Set up configure settings based on architecture
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
ifeq ($(DEB_HOST_ARCH),i386)
HW_OS := pc_linux
endif
ifeq ($(DEB_HOST_ARCH),lpia)
HW_OS := pc_linux
endif
ifeq ($(DEB_HOST_ARCH),amd64)
HW_OS := pc_linux64
endif
ifeq ($(DEB_HOST_ARCH),arm)
HW_OS := pc_linux_arm
endif
ifeq ($(DEB_HOST_ARCH),armel)
HW_OS := pc_linux_arm
endif

DEB_MAKE_VARS := HW_OS=$(HW_OS)
DEB_MAKE_BUILD_TARGET := 
DEB_MAKE_INSTALL_TARGET := install INSTALL_DIR=$(DEB_DESTDIR)/usr
DEB_MAKE_CLEAN_TARGET := clean clean_g++


DEB_DESTDIR := $(CURDIR)/debian/tmp

DEB_INSTALL_DOCS_ALL := $(CURDIR)/vrpn/README $(CURDIR)/vrpn/README.Compiling $(CURDIR)/vrpn/README.Legal
DEB_INSTALL_CHANGELOGS_ALL := $(CURDIR)/vrpn/ChangeLog

#DEB_DH_SHLIBDEPS_ARGS := -- $(patsubst %,-x%,$(DEB_ALL_PACKAGES))


DO_MAKE := libvrpn1 libvrpn-client1 libvrpn-server1
DEB_BUILDDIR := $(CURDIR)/quat
DEB_BUILDDIR_libvrpn1 := $(CURDIR)/vrpn
DEB_BUILDDIR_libvrpn-client1 := $(CURDIR)/vrpn/client_src
DEB_BUILDDIR_libvrpn-server1 := $(CURDIR)/vrpn/server_src
# Override DEB_MAKE_INVOKE to add DEB_MAKE_VARS, separate build dirs,
# and remove CFLAGS/CXXFLAGS
DEB_MAKE_INVOKE = cd $(if $(DEB_BUILDDIR_$(cdbs_curpkg)),"$(DEB_BUILDDIR_$(cdbs_curpkg))","$(DEB_BUILDDIR)") && \
	$(DEB_MAKE_ENVVARS) $(MAKE) \
	$(if $(DEB_MAKE_MAKEFILE), -f $(DEB_MAKE_MAKEFILE),) \
	CPPFLAGS=$(if $(CPPFLAGS_$(cdbs_curpkg)),"$(CPPFLAGS_$(cdbs_curpkg))","$(CPPFLAGS)") \
	LDFLAGS=$(if $(LDFLAGS_$(cdbs_curpkg)),"$(LDFLAGS_$(cdbs_curpkg))","$(LDFLAGS)") \
	$(DEB_MAKE_VARS)

$(patsubst %,build/%,$(DO_MAKE))::
	$(DEB_MAKE_INVOKE) $(DEB_MAKE_BUILD_TARGET)

$(patsubst %,install/%,$(DO_MAKE))::
	$(DEB_MAKE_INVOKE) $(DEB_MAKE_INSTALL_TARGET)

$(patsubst %,clean/%,$(DO_MAKE))::
	$(DEB_MAKE_INVOKE) $(DEB_MAKE_CLEAN_TARGET)


build/libvrpn1-doc::
	# Reconfigure doxyfile
	cp $(CURDIR)/vrpn/doxygen/Doxyfile $(CURDIR)/vrpn/doxygen/Doxyfile.pre-sed

	# Set version from debian version
	sed -i "s/PROJECT_NUMBER         \=/PROJECT_NUMBER         \= $(VER_MAJ)\.$(VER_MIN)/" \
		$(CURDIR)/vrpn/doxygen/Doxyfile

	# Specify improved path to source
	sed -i "s_INPUT( )*\= \.\._INPUT \= $(CURDIR)/vrpn_" \
		$(CURDIR)/vrpn/doxygen/Doxyfile

	# Build the documentation
	mkdir -p $(DEB_DESTDIR)/usr/share/doc/libvrpn1/api

	cd $(DEB_DESTDIR)/usr/share/doc/libvrpn1/api && \
		doxygen $(CURDIR)/vrpn/doxygen/Doxyfile

	# Restore the doxyfile
	mv -f $(CURDIR)/vrpn/doxygen/Doxyfile.pre-sed $(CURDIR)/vrpn/doxygen/Doxyfile

install/vrpn::
	# Delete CVS directories
	find $(CURDIR)/debian -name "CVS" | xargs rm -rf

clean::
	# Clean up editing detritus
	-rm -f debian/*~ debian/._* .DS_Store

	# Restore files processed by debian/rules
	for mkf in $(MAKEFILES_TO_PROCESS); do \
		[ -f $$mkf.pre-sed ] && mv -f $$mkf.pre-sed $$mkf || echo . ; \
	done
	
	# Remove files left behind by build
	find $(DEB_CURDIR) -name "pc_linux" | xargs rm -rf
	-rm -rf $(DEB_CURDIR)/vrpn/client_src/logfilesenders
	-rm -rf $(DEB_CURDIR)/vrpn/client_src/logfiletypes


# workaround for http://bugs.debian.org/526392
#QUILT_PATCH_DIR := debian/patches
#QUILT_STAMPFN := patch
#-include /usr/share/topgit/tg2quilt.mk
